body {
    background: #f3f3f3;
    font-family: Arial;
    text-align: center;
}

.container {
    margin-top: 60px;
}

input, button {
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
}

button {
    background: purple;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.output {
    margin-top: 25px;
    background: white;
    padding: 20px;
    display: inline-block;
    border-radius: 8px;
}
